<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KirillPolyanskiy.CustomBrokerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KirillPolyanskiy.CustomBrokerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="KirillPolyanskiy.CustomBrokerWpf.Properties.Settings.CustomBrokerConnectionString1"
      connectionString="Data Source=PK\SQLEXPRESS;Initial Catalog=CustomBroker;Integrated Security=false;"
      providerName="System.Data.SqlClient" />
    <add name="KirillPolyanskiy.CustomBrokerWpf.Properties.Settings.CustomBrokerConnectionString2"
      connectionString="Data Source=212.233.108.170;Initial Catalog=CustomBroker;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="KirillPolyanskiy.CustomBrokerWpf.Properties.Settings.CustomBrokerConnectionString3"
      connectionString="Data Source=PK\SQLEXPRESS;Initial Catalog=CustomBroker;Integrated Security=True;" />
  </connectionStrings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
    <KirillPolyanskiy.CustomBrokerWpf.Properties.Settings>
      <setting name="SertFileRoot" serializeAs="String">
        <value>D:\Programming\PROJECTS\Таможня\Global\NEW\Sert\</value>
      </setting>
      <setting name="DetailsFileRoot" serializeAs="String">
        <value>D:\Programming\PROJECTS\Таможня\Global\Архив.Разбивки\</value>
      </setting>
      <setting name="DocFileRoot" serializeAs="String">
        <value>C:\PROJECTS\Таможня\Global\Doc\</value>
      </setting>
      <setting name="Selling1CFileRoot" serializeAs="String">
        <value>Реализации</value>
      </setting>
      <setting name="Income1CFileRoot" serializeAs="String">
        <value>Поступления</value>
      </setting>
    </KirillPolyanskiy.CustomBrokerWpf.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <KirillPolyanskiy.CustomBrokerWpf.Properties.Settings>
      <setting name="SertFileDefault" serializeAs="String">
        <value>Документы</value>
      </setting>
      <setting name="DetailsFileDefault" serializeAs="String">
        <value>Документы</value>
      </setting>
      <setting name="DocFileDefault" serializeAs="String">
        <value>Документы</value>
      </setting>
      <setting name="VendorCodeDefault" serializeAs="String">
        <value>Документы</value>
      </setting>
    </KirillPolyanskiy.CustomBrokerWpf.Properties.Settings>
  </userSettings>
</configuration>
